# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Build outputs
dist/
build/
*.egg-info/

# Environment variables
.env
.env.local
.env.*.local
.venv
__pycache__/

# Temporary files
tmp/
temp/
*.tmp

example.py
