name: Pip-Audit Security Check

on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["dev"]

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pip-audit
          pip install -r requirements.txt

      - name: Run pip-audit manually
        run: pip-audit -r requirements.txt
